@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --dark: #707070;
  /* --secondary: #26a4dd; */
  --secondary: #b58a2c;
  /* --primary: #ef971f; */
  --primary: #26235a;
}

body {
  min-height: 100vh;
  color: #707070;
  font-family: "Open Sans", sans-serif !important;
}

.text-d {
  color: #493c3cb3;
}

.text-l {
  color: #c7bcbc;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0px;
}

.text-p {
  color: var(--primary) !important;
}

.back-p {
  background-color: var(--primary) !important;
}

.back-s {
  background-color: var(--secondary) !important;
}

.text-s {
  color: var(--secondary) !important;
}

.link-hov {
  text-decoration: none;
}

.link-hov:hover {
  text-decoration: underline;
}

.para-lg {
  font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.para {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
}

.para-m {
  font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.heading {
  font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: black;
}

.heading span {
  color: var(--secondary);
}

.heading-m {
  font-size: calc(17px + (25 - 17) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 700;
}

.heading-sm {
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Inter", sans-serif;
  color: black !important;
  font-weight: 700;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1 0 auto;
  padding: 1.5rem;
}

.secondary-btn {
  /* background: linear-gradient(
    -125deg,
    #0c0cd3 0%,
    var(--secondary) 50%
  ) !important; */
  background-color: var(--secondary) !important;
  color: white !important;
  border-radius: 50px !important;
  padding-inline: calc(10px + (35 - 10) * ((100vw - 320px) / (1920 - 320))) !important;
  padding-block: calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320))) !important;
  transition: 0.8s !important;
  border: 0 !important;
}

.primary-btn:hover {
  /* background: linear-gradient(-225deg, #f5d2a3 0%, var(--primary) 50%) !important; */
  scale: 1.04;
  transition: 0.9s;
}

.primary-btn {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320))) !important;
  background: linear-gradient(-125deg,
      #5a54bf 0%,
      var(--primary) 50%) !important;
  color: white !important;
  border-radius: 50px !important;
  padding-inline: calc(10px + (35 - 10) * ((100vw - 320px) / (1920 - 320))) !important;
  padding-block: calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320))) !important;
  transition: 0.8s !important;
  border: 0 !important;
}

.primary-btn:hover {
  /* background: linear-gradient(-225deg, #f5d2a3 0%, var(--primary) 50%) !important; */
  scale: 1.04;
  transition: 0.9s;
}

.primary-btn-border {
  background: transparent;
  color: var(--primary) !important;
  border-radius: 50px !important;
  padding-inline: calc(10px + (35 - 10) * ((100vw - 320px) / (1920 - 320))) !important;
  padding-block: calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320))) !important;
  transition: 0.8s !important;
  border: 2px solid var(--primary) !important;
  font-weight: 600 !important;
}

.primary-btn-border:hover {
  /* background: linear-gradient(-225deg, #f5d2a3 0%, var(--primary) 50%) !important; */
  scale: 1.04;
  transition: 0.9s;
  color: white !important;
  background: linear-gradient(-125deg,
      #5a54bf 0%,
      var(--primary) 50%) !important;
}

.slct-back {
  background: transparent;
  color: var(--primary) !important;
  border-radius: 50px !important;
  padding-inline: calc(10px + (35 - 10) * ((100vw - 320px) / (1920 - 320))) !important;
  padding-block: calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320))) !important;
  transition: 0.8s !important;
  border: 2px solid var(--primary) !important;
  font-weight: 600 !important;
  --bs-form-select-bg-img: none !important;
}

.slct-back:hover {
  /* background: linear-gradient(-225deg, #f5d2a3 0%, var(--primary) 50%) !important; */
  padding-inline: 0;
  transition: 0.9s;
  color: white !important;
  background: linear-gradient(-125deg,
      #5a54bf 0%,
      var(--primary) 50%) !important;
}

.slct-back option {
  color: var(--primary);
  padding: 0 !important;
  margin: 0 !important;
  text-align: left;
}

.header {
  background-color: white;
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 8%);
  display: flex;
  padding-block: 15px;
  padding-inline: 20px;
}

.header .man {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.offcanva-custome {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 0 !important;
  background-color: var(--primary) !important;
}

.sidebar-logo {
  margin-inline: auto;
  width: calc(70px + (100 - 70) * ((100vw - 320px) / (1920 - 320)));
}

.side-bar-dd .accordion-header {
  background-color: transparent !important;
}

.side-bar-dd .accordion-button.collapsed {
  background-color: transparent !important;
  border: 0;
  color: white;
}

.side-bar-dd .accordion-button:focus {
  box-shadow: none;
}

.side-bar-dd .accordion-button:hover {
  background-color: #ffffff38 !important;
}

.side-bar-dd .accordion-button.active {
  background-color: #ffffff38 !important;
}

.side-bar-dd .accordion-button {
  margin-block: 5px;
  background-color: #ffffff38 !important;
  color: white !important;
  border: 0;
  border-radius: 30px !important;
  box-shadow: none !important;
  text-decoration: none;
  padding-block: 12px !important;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) !important;
}

.side-bar-dd .accordion-item {
  border: 0;
  background-color: transparent !important;
}

.accordion-button::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi fw-bold bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>') !important;
  background-image: unset !important;
  font-weight: 800;
  /* display: none; */
  visibility: hidden;
}

.accordion-button:hover::after {
  /* display: block; */
  visibility: visible;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(90deg) !important;
  display: block;
}

.sidebar-ul {
  background-color: #ffffff38 !important;
  border-radius: 20px;
  padding-block: 10px;
}

.sidebar-ul li {
  color: white;
}

.sidebar-ul li a {
  color: rgba(255, 255, 255, 0.803);
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  display: inline-block;
}

.sidebar-ul .active {
  color: white;
  background-color: #ffffff38 !important;
}

.m-card {
  background-color: transparent !important;
  border: 0 !important;
  z-index: 0;
}

.m-card .card-body {
  background-color: white !important;
  border-radius: 15px;
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 8%);
  transition: background-color 0.3s linear;
  /* Standard */
  z-index: 9999999999;
  transition: 0.3s;
}

.m-card .card-body::before {
  content: "";
  background-image: radial-gradient(#5a54bf -87%,
      var(--primary) 34%,
      var(--primary) 0%) !important;
  transition: 0.3s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
  opacity: 0;
}

.m-card:hover .card-body::before {
  opacity: 1;
}

.m-card:hover .heading-line {
  background-color: white;
  transition: 0.3s;
}

.m-card:hover p {
  color: white;
  transition: 0.3s;
}

.m-card:hover .card-body {
  transform: translateY(-10px);
  transition: 0.3s;
}

.m-card:hover .img {
  background-color: white;
}

.m-card .img {
  background-color: var(--secondary);
  width: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
  height: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-card .img svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 25%;
}

.m-card:hover .img svg path {
  color: var(--primary);
  fill: var(--primary);
}

.m-card:hover p,
.m-card:hover span {
  color: white !important;
}

.chart {
  border: 0 !important;
  border-radius: 15px !important;
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 8%);
}

.c-card {
  border: 0 !important;
  border-radius: 15px !important;
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 8%);
}

.Vendors-Active ul {
  padding: 0;
  height: 300px;
  overflow: auto;
  background-image: linear-gradient(to bottom, #ffffff, rgb(255 255 255)),
    linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, #00000026, rgba(255, 255, 255, 0)),
    linear-gradient(to top, #00000026, rgb(255 255 255));
  background-position: 0 0, 0 100%, 0 0, 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 2em, 100% 4em, 100% 2em, 100% 2em;
  background-attachment: local, local, scroll, scroll;
}

.Vendors-Active li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-block: 20px;
  justify-content: space-between;
}

.Vendors-Active div img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 15px;
}

.vendorscard .v-logo img {
  width: calc(130px + (170 - 130) * ((100vw - 320px) / (1920 - 320)));
  height: calc(80px + (110 - 80) * ((100vw - 320px) / (1920 - 320)));
  object-fit: contain;
}

.v-logo.active {
  position: relative;
}

.v-logo.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.usertable thead tr {
  vertical-align: middle;
}

.usertable thead tr th {
  background-color: var(--secondary);
  color: white;
  padding-block: 15px !important;
  border: 0;
}

.usertable thead tr th:nth-child(1) {
  border-radius: 50px 0 0px 50px;
}

.usertable thead tr th:nth-last-child(1) {
  border-radius: 0px 50px 50px 0px;
}

.usertable tbody tr {
  border: 15px solid transparent;
  vertical-align: middle;
}

.usertable tbody tr td {
  border: 0 !important;

  border-width: 20px !important;
}

.usertable tbody tr td:nth-child(1) {
  border-radius: 50px 0 0px 50px;
}

.usertable tbody tr td:nth-last-child(1) {
  border-radius: 0px 50px 50px 0px;
}

.pagination-btn button {
  background-color: transparent !important;
  border: 1px solid var(--primary) !important;
  margin-inline: 5px;
  border-radius: 5px;
  padding: 3px 10px;
  transition: 0.2s;
}

.pagination-btn.page-active button {
  background-color: var(--primary) !important;
  color: white;
}

.pagination-btn button:hover {
  background-color: var(--primary) !important;
  color: white;
  transition: 0.2s;
}

table {
  min-width: max-content !important;
}

.login-left {
  min-height: 90vh;
}

.login-left img {
  min-height: 90vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0 20px;
  object-position: left;
}

.login-right img {
  width: calc(130px + (170 - 130) * ((100vw - 320px) / (1920 - 320)));
}

.inp,
.tarea {
  background-color: #f1f1f1 !important;
  border: 0 !important;
  border-bottom: 1px solid var(--secondary) !important;
  border-radius: 0 !important;
  padding-inline: 10px !important;
  padding-block: 15px !important;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320))) !important;
  box-shadow: var(--bs-box-shadow-sm) !important;
}

.inp:focus,
.tarea:focus {
  /* box-shadow: none !important; */
  border: 1px solid var(--secondary) !important;
}

.login-bg {
  background: url("../../assets/images/Mask Group 2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f6f6f6;
}

.eye-pass {
  position: absolute;
  right: 10px;
}

.user-card .user-img {
  width: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));
  height: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 100%;
  position: relative;
}

.user-card .user-img img {
  border-radius: 100%;
}

.cam-img-change {
  width: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  height: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  background-color: var(--dark);
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -7px;
}

.cam-img-change-2 {
  width: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  height: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  background-color: var(--dark);
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.notiication-btn {
  list-style: none;
}

.notiication-btn ul {
  padding: 10px 5px;
  border-radius: 15px !important;
  border: 0 !important;
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 8%);
}

.notiication-btn ul li {
  /* background-color: #f1f1f1; */
  margin-block: 10px;
  padding-block: 5px;
  font-size: calc(12px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  transition: 0.2s;
}

.notiication-btn ul li:hover,
.notiication-btn ul li:hover a {
  background-color: var(--secondary);
  color: white;
  transition: 0.2s;
}

.notiication-btn ul li:hover span {
  color: white;
  transition: 0.2s;
}

.notiication-btn .heading-sm {
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.noti-btn-icon {
  background-color: var(--primary);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noti-btn-icon-lg {
  background-color: var(--primary) !important;
  color: white !important;
  width: calc(35px + (50 - 35) * ((100vw - 320px) / (1920 - 320)));
  height: calc(35px + (50 - 35) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.vendor-card .card-header {
  background: transparent;
  border: 0;
  padding-right: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.vendor-card .card-header img {
  color: transparent;
  width: 154px;
  height: auto;
  object-fit: cover;
}

.vendor-card .card-header .discount {
  background: var(--primary);
  border-radius: 0 5px 0 0;
}

.min-vh-75 {
  min-height: 75vh;
}

.vendors-card .card:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.vendors-card .card {
  transition: 0.3s;
}

.offcanva-btn:focus {
  box-shadow: none !important;
}

.ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_sw {
  width: 250px;
}

.ck.ck-content.ck-editor__editable {
  min-height: 100px !important;
}

.ck.ck-balloon-panel {
  display: none !important;
}

.loader {
  background: #f8f9fa;
  position: absolute;
  display: flex;
  width: 100%;
  height: 105%;
  z-index: 9;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.cat-hov {
  position: relative;
  text-decoration: none !important;
}

.cat-hov::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.cat-hov:hover::after {
  /* text-decoration: underline; */
  transition: 0.3s;
  width: 100%;
}

.m-modal {
  background: linear-gradient(180deg, #f5d2a3 0%, white 70%);
}

.m-modal .inp,
.m-modal .tarea {
  background: transparent;
  border-color: var(--primary) !important;
}

.m-modal .inp:focus,
.m-modal .tarea:focus {
  background: transparent;
}

.m-modal label {
  font-weight: 500;
}

.m-modal .inp,
.m-modal .tarea {
  padding-inline: 10px !important;
}

.steps {
  width: 10px !important;
  height: 10px !important;
  background: #80808061;
  border-radius: 100%;
  padding: 0 !important;
  margin-inline: 3px;
}

.steps.complete {
  background: grey;
}

.sortby {
  border: 1px solid black !important;
  border-radius: 30px !important;
}

.sortby:focus {
  box-shadow: none !important;
  border-color: black !important;
}

.notiication-btn-active::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--dark);
  border-radius: 100%;
  top: 8px;
  right: 2px;
}

@media (min-width: 992px) {
  .offcanva-custome {
    width: 100% !important;
    visibility: visible !important;
    transform: none !important;
    position: relative !important;
  }

  .sidebar-sticky {
    position: sticky !important;
    top: 0 !important;
    height: 100vh;
  }
}